#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.square {
  display: flex;
  flex: 0 0 33.33%;
  min-height: 50px;
  min-width: 50px;
  justify-content: space-between;
  background-color: lightgreen;
  border: 2px solid black;
  margin: 2px;
}
